
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.json
*.egg

pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/
htmlcov/
.coverage

.venv/
venv/
env/
/bin/
/include/
/lib/
/lib64/
/Scripts/
/Lib/
/local/

.mypy_cache/
.dmypy.json
.vscode/
.vscode-test/

.ipynb_checkpoints


.vscode/
    
*.joblib
*.db
*app/models/trained_models/
app\models\trained_models
app/models/trained_models/lr.joblib
app/models/trained_models/rf.joblib
app/models/trained_models/lr.joblib
app/database.db
app/models/trained_models/rf.joblib
*app\models\trained_models
